packages:
  yum:
    epel-release: []  # EPEL 리포지토리 활성화
    mysql-devel: []   # MySQL 클라이언트 개발 도구
    gcc: []           # C 컴파일러
    pkgconfig: []     # pkg-config 설치

commands:
  01_install_dependencies:
    command: "yum install -y epel-release mysql-devel gcc pkgconfig"  # EPEL 활성화 및 필요한 패키지 설치
  02_install_pip_dependencies:
    command: "pip install -r /opt/python/current/app/requirements.txt"  # 파이썬 패키지 설치
